/* body */

html, body{
	height: 100%;
} 

<<<<<<< Updated upstream
=======
body{
	font-family: 'Montserrat', sans-serif;
}
>>>>>>> Stashed changes

.container{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	height:100%;
}

.content{
	padding-top: 1.25em;
}

.logo{
	margin: auto;
	align: center;
}


/* font styling */

p{
	line-height: 1.5em; /* 24/16 */
	padding-bottom: .4em;
}
h1{
<<<<<<< Updated upstream
	font-weight: bold;
	font-size: 25px;
=======
	font-weight: 700;
	font-size: 1.5em;
>>>>>>> Stashed changes
	padding-bottom: .75em;
	text-align:center;
}

h2{
	font-weight: 400;
	font-size: 1.25em;
	padding-bottom: .5em;
	padding-top: .1em;
}
h3 {
	font-size: 1.5em;
	padding-bottom: .7em;
	text-align:center;
}


em{
	font-size:.75;
	font-style: italic;
}

li{
	padding-bottom: 1em;
}

ol li{
	list-style-type: decimal;
	margin-left: 1.25em;
}

.save{
	align:center;
	padding: .5em;
}

/* imgs */

img{
	max-width: 100%;
	padding: .25em;
}


/* clock content */

.timeContainer {
	text-align: center;
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	padding-top: 50px;
	padding-bottom: 40px;
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:25px 7px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.header img{
	background-size:contain;
	height:300px;
	width:250px;
}

footer{
	padding: 2em;
	align: center;
}

<<<<<<< Updated upstream
body{
	font-family: 'Montserrat', sans-serif;
}
=======

>>>>>>> Stashed changes
