
html, body{
	height: 100%;
} 

body{
	background-color: rgb(0, 146, 69);
	font-family: 'Montserrat', sans-serif;
}


.container{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	height:100%;
}

.content{
	padding-top: 1.25em;
}

.logo{
	margin: auto;
	align: center;
}

/* font styling */

p{
	line-height: 1.5em; /* 24/16 */
	padding-bottom: .4em;
}
h1{
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: .75em;
	text-align:center;
}

h2{
	font-size: 1.25em;
	padding-bottom: .5em;
	padding-top: .25em;
}

a:hover h2{
	color: rgb(242, 196, 155);
}

a:link, a:visited, a:active{
	color: rgb(89, 49, 34);
	text-decoration: none;
}

em{
	font-size:.75;
	font-style: italic;
}

li{
	padding-bottom: 1em;
}

ol li{
	list-style-type: decimal;
	margin-left: 1.25em;
}
.timeContainer {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}


.myButton {
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:25px 7px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
